    .appMenu {
    margin: 0; 
    padding: 0;
    z-index:30;  
}
.hidden {
    display:none;
}

.visible {
    display:block;
}
.appMenu li{	
    margin: 0;
	padding: 0;
	list-style: none;
    float:left;

}

.appMenu li a{
    display: block;
	margin: 0;
    width:60px;
	text-align: center;
	text-decoration: none;
    background-color:grey;
}

.appMenu li a:hover{ 
    background-color:black;
}
.appMenu div {
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2
}

	.appMenu div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	.appMenu div a:hover
	{	background: #49A3FF;
		color: #FFF}